<div class="footer_container">
  <div class="footer__links">
    <% link_to "利用規約", term_path, class: "footer__link" %>
    <% link_to "プライバシーポリシー", privacy_path, class: "footer__link" %>
    <%= link_to "お問い合わせ", contact_path, class: "footer__link" %>
  </div>
  <p class="footer__copyright">© 2025 宿泊予約サイト</p>
</div>