<div class="hero">
  <div class="hero_content">
    <h1 class="hero__title">理想の宿泊施設を見つけよう</h1>

  </div>
</div>

<section class="recommend-area">
  <h2 class="recommend-area__title">おすすめのエリア</h2>
  <div class="recommend-area__list">

  </div>
</section>