// カラーパレット
$white: #fff;
// $primary-blue: #329eff;
$text-black: #333;
$text-gray: #6a6a6a;
$border-light-gray: #e0e0e0;
$border-light-green: #00d1b5;
$background-gray: #f5f7f9;
$button-green: #00a58e;
$button-hover-green: #009d8a;
