.Footer {
  align-items: center;
  background-color: #1a2120;
  display: flex;
  height: 465px;

  &__logo {
    color: $white;
    font-size: 40px;
    margin-bottom: 16px;
    width: 294px;
  }

  &__copyright {
    color: $white;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 0;
  }
}