.AccountFormWrapper {
  background-color: $white;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: calc(100vh - 80px);
  padding: 60px 0 120px
}

@media screen and (max-width: 1280px) {
  .AccountFormWrapper {
      min-height:calc(100vh - 66px)
  }
}

@media screen and (max-width: 600px) {
  .AccountFormWrapper {
      background-color: $white;
      padding: 40px 0 80px
  }
}

.AccountFormContainer {
  background-color: $background-gray;
  margin: auto;
  padding: 32px;
  width: 704px;
  border-radius: 6px
}

@media screen and (max-width: 1280px) {
  .AccountFormContainer {
      padding:40px 16px;
      width: 478px
  }
}

@media screen and (max-width: 600px) {
  .AccountFormContainer {
      padding:0 16px
  }
}

.AccountFormContainer__title {
  font-family: Lato,sans-serif;
  font-size: 33px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 24px;
  text-align: center
}

@media screen and (max-width: 1280px) {
  .AccountFormContainer__title {
      font-size:24px;
      line-height: 29px
  }
}

.AccountForm__button {
  border-radius: 12px;
  padding: 14px 24px;
  width: 100%
}

.AccountForm__button:focus {
  box-shadow: none
}

.AccountForm__button--primary {
  align-items: center;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  height: 58px;
  font-size: 18px;
  background-color: $button-green;
  color: $white
}

.AccountForm__button--primary:focus {
  box-shadow: none
}

.AccountForm__button--primary:hover {
  background-color: $button-hover-green;
  color: $white
}

@media screen and (max-width: 600px) {
  .AccountForm__button--primary {
      font-size:16px;
      line-height: 24px
  }
}

.AccountForm__button--secondary {
  border: 1px solid $border-light-gray;
  color: $text-gray;
  line-height: 44px;
  font-size: 16px;
  line-height: 24px;
  height: 52px
}


@media screen and (max-width: 600px) {
  .AccountForm__button--secondary {
      font-size:14px;
      line-height: 20px
  }
}