// @use "color-variables" as *;
// @use "break-point" as *;

.Navbar {
  background-color: $white;
  height: 64px;

  &__logo {
    font-size: 20px;
  }
}


.NavItem {

  &__link {
    color: $text-black;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 16px;
  }

  &__link--login {
    margin-right: 24px;
  }

  &__link--register {
    background-color: $button-green;
    color: $white;
  }

  &__link--register:hover {
    background-color: $button-hover-green;
    color: $white;
  }
}


.NavProfile {
  cursor: pointer;

  &__avatar {
    border-radius: 60px;
    margin-right: 8px;
    width: 40px;
  }

  &__name {
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
  }

  &__icon {
    width: 8px;
  }
}

.DropdownMenu {
  min-width: 122px;
  padding: 8px 0;

  &__item {
    font-size: 14px;
    line-height: 18px;
    padding: 0 8px;
  }

  &__hr {
    margin: .5rem 0;
  }
}