@use "color-variables" as *;

.hero {
  // background: url("/assets/hero-bg.jpg") center/cover no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;

  &__title {
    font-size: 28px;
    font-weight: bold;
  }
}

.recommend-area {
  margin-top: 40px;
  text-align: center;

  &__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
}
